header{
  background-color:#5AE1F2;
}

h1{
  color:#E6608F;
  text-align: center;
}
h2{
  color:#FC5DE5;
  text-align: center;
}
nav ul li {
  display: inline;
  margin: 10px ;
}
main article h4{
  border : 3px solid black;
  padding:5px;
  margin:25px;
}
nav ul li a{
  text-decoration:none;
}

main article img{
  width: 50%;
  height: 100%;
  opacity: 1;
}
#first_P{
  color:#E6608F;
  margin: 30px;
  float: left;
  padding: 10px;
}
.resto_p{
  color: E6608F;
}